* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Trebuchet MS;
}
body {
  background-image: linear-gradient(45deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.traingle-choinces {
  background-image: url('images/bg-triangle.svg');
  background-repeat: no-repeat;
}
.rulesBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  z-index: 100;
  padding: 40px 0 30px 0;
  position: absolute;
  background-color: white;
  display: none;
}
.rulesLabel {
  color: hsl(229, 25%, 31%);
  font-size: 27px;
}
.closeIcon {
  cursor: pointer;
}
.hero {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
header {
  display: flex;
  width: 100%;
  max-width: 500px;
  max-height: 160px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
Header > h3 {
  width: 50px;
  color: white;
  line-height: 15px;
  font-weight: 700;
}
.scoreBoard p {
  color: hsl(229, 64%, 46%);
  font-size: 10px;
  font-weight: 700;
}
.scoreBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 5px;
  }
.score {
  font-size: 30px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
  letter-spacing: -4px;
  margin-left: -4px;
}
.gameplay {
  width: 230px;
  height: 200px;
  background-image: url('images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gr een;
  position: relative;
  margin-top: 60px;
}
.choice {
  width: 100px;
  height: 100px;
  background-color: white;
  padding: 25px;
  border-radius: 50%;
  bor der: 8px solid hsl(229, 25%, 31%);
  position: absolute;
}
.paperBox {
  position: absolute;
  width: 120px;
  padding: 15px;
  border-radius: 50%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15%;
  left: -15%;
  background-image: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.scissorsBox {
  position: absolute;
  width: 120px;
  padding: 5px;
  border-radius: 50%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15%;
  right: -15%;
  background-image: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.rockBox {
  position: absolute;
  width: 120px;
  padding: 5px;
  border-radius: 50%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -25%;
  left: 22%;
  background-image: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.boxHover:active {
  transform: scale(97%);
}

.displayRules {
  margin-top: 35px;
  border: 2px solid hsl(217, 16%, 45%);
  padding: 13px 35px;
  border-radius: 5px;
  cursor: pointer;
}
.displayRules h2 {
  font-size: 20px;
  line-height: 13px;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}
.secondStage {
  min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.pickedChoices {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
.picked {
  min-width: 120px;
  min-height: 120px;
  background-color: hsl(237, 49%, 15%);
  border-radius: 50%;
  position: relative;
}
.picked img {
  width: 100%;
  height: 100%;
}
.thePicks {
  position: absolute;
  bottom: -50px;
  width: 200px;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 15px;
}
.thePicks:nth-child(1) {
  margin-left: 0;
}
.secondStage {
  display: none;
}
.resultBox {
  display: none;
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
}
.winCase {
  font-size: 40px;
  font-weight: 800;
  color: white;
}
.resultBox button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  color: hsl(229, 25%, 31%);
  cursor: pointer;

}


@media screen only (min-width: 750px) {
  .picked {
    width: 200px;
    height: 200px;
  }
  .rulesBox {
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
